* {
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

/* Style the top navigation bar */
.navbar {
    z-index:2;
    overflow: hidden;
    background: pink;
    position: relative;
    margin-bottom: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background: white;
    color: black;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}
.navbar a{
    color: black;
    /* rgb(180,237,42) */
    /* rgb(255,213,11) */
    text-decoration: none;
}

/* burger-menu*/
.burger-menu{
    display: block;
    flex-direction: row;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.p a{
    text-decoration: none;
    color: rgb(255,213,11);
}

/* Header/logo Title */
.header {
    z-index:2;
    padding: 80px;
    text-align: center;
    background: linear-gradient(pink, blue);
    color: pink;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    -ms-flex: 30%; /* IE10 */
    position: relative;
    width: 250px;
    height: 100%;
    top: 0px;
    margin-top: 0;
    padding: 15px;
    background: linear-gradient(blue, pink);
    top: 0;
    flex-direction: column;
}

.ad_block{
    width: 200px;
    height: 250px;
    border-color: black;
    border-radius: 7px;
    background: white;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    border-width: 2px;
    border-style: solid;
}

.ad_block-1, .ad_block-2, .ad_block-3, .ad_block-4, .ad_block-5, .ad_block-6, .ad_block-7{
    width: 200px;
    height: 250px;
    border-color: black;
    border-radius: 7px;
    border-width: 2px;
    background: white;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 10px;
    border-style: solid; 
}

.article{
    margin-top: 70px;
    /* width: 180px;
    height: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.more, .more-1, .more-2, .more-3, .more-4, .more-5, .more-6, .more-7{
    width: 100px;
    height: 25px;
    background: yellow;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 50px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.article-1{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-2{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-3{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-4{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-5{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-6{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-7{
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 130px;
    max-width: 900;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(blue, pink);
    color: rgb(164,224,236); /*#FFB174*/
    /* rgb(180,237,42) */
    
}

.text_block{
    width: 900px;
    height: 700px;
    background: white;
    border-radius: 7px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    /* display: flex; */
    justify-content: center;
    margin-bottom: 30px;  
}

.block_border{
    padding: 50px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.border{    
    width: 800px;
    height: 600px;
    border-color: rgb(13,195,246);
    border-radius: 7px;
    border-style: solid;
}

.photo_block{
    padding: 50px;
    padding-left: 70px;

}

.albom_name{
    color: black;
    margin-left: -20px;
}

.lol{
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.photo{
    display: inline-block;
    color: black;
    text-indent: 15px;
    padding-left: 70px;
}

.bought{
    width: 50px;
    height: 30px;
    display: inline-block;
    background: rgb(13,195,246);
    border-radius: 10px;
    display: flex;
    
    margin-left: 30px;
    margin: auto;
    color: white;
}

.container{
    display: inline-block;
    margin-left: 89px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #7ac9f9;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }

html {
    scroll-behavior: smooth;
}

.onTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: url(img/top.png);
    background-size: cover;
    z-index: 666;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    border-color: rgb(229,159,81);
    border-radius: 100px;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}

.onTop.active{
    visibility: visible;
    opacity: 1;
}

.footer {
    left: 0;
	bottom: 0;
	width: 100%;
	height: 200px;
    padding: 10px;
    text-align: center;
    background: #201f1f;
    color: rgb(164,224,236);
    /* rgb(255,213,11) */
    border-radius: 10px;
    border-style: solid;
}







@media screen and (max-width: 695px){
.row{
    flex-direction: column;
}
}

@media screen and (max-width: 376px){
    .navbar{
        width: 100%;
    }
    .burger-menu{
        display: none;
    }
    .h1{
        font-size: 20px;
    }
    .header{
        font-size: 24px;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        padding: 0;
        padding-bottom: 70px;
    }
    .border{
        width: 100%;
        height: 750px;
    }
    .lol{
        width: 100%;
        flex-direction: column;
        
    }
    .text_block{
        width: 100%;
        height: 900px;
        flex-direction: column;
    }
    .block_border{
        width: 100%;
        height: 900px;
        flex-direction: column;
    }
    .img{
        width: 200px;
        height: 200px;
    }
    .photo_block{
        width: 100%;
        height: 800px;
    }
    .photo{
        width: 100%;
        height: 100%;
        padding-left: 0;
    }
}





















